<h3>NORTH CAROLINA STATE UNIVERSITY, Raleigh, NC</h3>

<ul>
    <li>
        <strong>Master of Science (MS) in Computer Science, Graduated August 2026</strong>
    </li>

    <li>
        <strong>Post-Baccalaureate Certificate in Computer Science</strong>
        <p>Data Structures &amp; Algorithms, C &amp; Software Tools, Java I &amp; II,
            Computer Architecture &amp; Assembly Language, Operating Systems</p>
    </li>

    <li>
        <strong>
            Bachelor of Science (BS), Double Major in Applied Mathematics and Statistics,
        </strong>
        <p>magna cum laude</p>
    </li>
</ul>





<ul>
    <li>
        <strong>RTI International (Research Triangle Institute)</strong>
        <i>August 2020 – March 2025</i>
What this company does: They are a non-profit organization, and have federally-funded organizations such as the NIH as their clients. Themes of project work include: health, environmental, and education.
    </li>
    <li>
        <strong>Kadro Solutions, Inc.</strong>
        <i>May 2016 – September 2019</i>
What this company does: They create e-commerce websites. Those websites allow clients to sell products to their clients.
    </li>
</ul>
